{% extends "base.html" %} {% block title %}Add Employee{% endblock %} {% block body %}
<head>
<style>
div {
 background-image: url("/static/emp.jpg");
}
input[type=file] {
    display: inline-block;
}
</style>
<script>
function validateForm1() {
  var x = document.forms["abc"]["name"].value;
  var y = document.forms["abc"]["department"].value;
  var z = document.forms["abc"]["role"].value;
  var a = document.forms["abc"]["manager"].value;

  if (x == "" || x == null || y == "" || y == null || z == "" || z == null || a == "" || a == null) {
    alert("fields must be filled out");
    return false;
  }
}
</script>
</head>
<div>
    <div class="row">
      <div class="col-lg-12">
        <div class="intro-message">
              <br>
              <h3 class="text-center">Add an employee</h3>
              <br><br>
                <form name = "abc" action = "/savedetails" method="post" onsubmit="return validateForm1()" required>  
                Name<input type="text" name="name"><br>
                Department<input type="text" name="department"><br>
                Role<input type="text" name="role"><br>
                DirectManager<input type="text" name="manager"><br>   
                <input type="submit" value="Submit">  
                </form>
                <br>
                <br>
              <body>
              <form action = "/savecsv" method="post">
              select a file:<input type="file" id="file" name="file"><br>
              <input type="submit" value = "Submit">
              </form>
              </body>
        </div>
      </div>
    </div>    
  </div>
{% endblock %}
