<!DOCTYPE html>
<html lang="en">

<head>
    <title>{{ title }} | Employee Master</title>
    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href=" https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css " rel="stylesheet ">
    <link href="{{ url_for( 'static', filename='style.css' ) }} " rel="stylesheet ">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300" rel="stylesheet">
</head>

<body>

    <nav class="navbar navbar-default navbar-fixed-top topnav " role="navigation ">
            <div class="navbar-header ">
                <a class="navbar-brand topnav homelogo" href="{{ url_for( 'index') }} ">Employee Master</a>
            </div>
            <div class="collapse navbar-collapse " id="bs-example-navbar-collapse-1 ">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{{ url_for('index') }}">Home</a></li>
                    <li><a href="{{ url_for('add') }}">Add</a></li>
                    <li><a href="{{ url_for('view') }}">View</a></li>
                    <li><a href="{{ url_for('delete') }}">Delete</a></li>
                </ul>

            </div>
            
    </nav>
    <div class="wrapper ">
        {% block body %} {% endblock %}
        <div class="push "></div>
    </div>
    
</body>

</html>