{% extends "base.html" %} {% block title %}Delete Employee{% endblock %} {% block body %}
<style>
div {
 background-image: url("/static/emp.jpg");
}

</style>
<div>
    <div class="row">
      <div class="col-lg-12">
        <div class="intro-message">
        <h3 class="text-center">Remove Employee from the list</h3>
        <br>
        <br>
        <form action="/deleterecord" method="post">  
            Employee Name <input type="text" name="name">  
            <input type="submit" value="Submit">  
        </form>
</div>
</div>
</div>
</div>
    
{% endblock %}
