{% extends "base.html" %} {% block title %}Employees{% endblock %} {% block body %}


</style>

<!DOCTYPE html>  
<html>  
<head>  
</head>  
<style>
body {
    margin: 20px;
    line-height: 3;
    font-family: sans-serif;

}
ul {
    text-indent: .5em;
    border-left: .25em solid gray;
}

ul ul {
    margin-top: -1.25em;
    margin-left: 1em;

}

li {
    position: relative;
    bottom: -1.25em;
}



ul ul:before, h3:before, li:after {
    content: '';
    display: block;
    width: 1em;
    height: 1em;
    position: relative;
    /* background: salmon; */
    /* border: .25em solid white; */
    top: 1em;
    left: .4em;
}

</style>
<div>
<body>
<h3>Employee Hierarchy</h3>
<br> 
<div>
    <h3>{{msg}}</h3>
    <ul> 
    <br>       
      <li>
      <br> {% for row in rows %}  
        {{row}}
        <br>
    {% endfor %}
      </li>
    </ul>
</div>
<a href="/">Go back to home page</a>  
</body>
</div>
 
{% endblock %}

</html>