{% extends "base.html" %} {% block title %}Dashboard{% endblock %} {% block body %}
<head>
<style>
div {
 background-image: url("/static/emp.jpg");
 
}

</style>
<script>
function validateForm() {
  var x = document.forms["xyz"]["search"].value;
  if (x == "" || x == null) {
    alert("Name must be filled out");
    return false;
  }
}
</script>
</head>
<div>
        <div class="row">
            <div class="col-lg-12">
                <div class="intro-message">
                    <h1>Dashboard</h1>
                    <h3>Manage your Employees</h3>
                    <br>
                    <br>
                    <body>
                     <form name = "xyz" action = "/details" method="post" onsubmit="return validateForm()" required>  
                        Search<input  type="text" name="search">  
                        <input type="submit" value="Submit">
                    </form>
                    </body>
                    <br>
                    <a href="/add">Add Employee</a><br><br> 
                    <a href ="/view">View Employees</a><br><br> 
                    <a href="/delete">Delete Record</a><br><br>
                    </ul>
                </div> 
            </div>
        </div>
</div>
{% endblock %}
