{% extends "base.html" %} {% block title %}Employee Added{% endblock %} {% block body %}
<style>
div {
 background-image: url("/static/emp.jpg");
}

</style>
<div class="content-section">
    <div class="center">
        <h1 class="text-center">Employee Added</h1>
        <br>
        <br>
        <h3>Hi Admin, {{msg}}</h3>  
        <a href="/">Go back to Home Page</a>
    </div>
</div>
{% endblock %}
