{% extends "base.html" %} {% block title %}Employees{% endblock %} {% block body %}
<head>
<style>
div {
 background-image: url("/static/emp.jpg");
}
body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    line-height: 4;
    color: #333;
    background-color: #fff;
}
.intro-message {
    position: inherit;
    padding-top: 10%;
    padding-bottom: inherit;
    text-align: -webkit-center;
    margin-right: -66%;
}
</style>
<div>
    <div class="row">
      <div class="col-lg-12">
        <div class="intro-message">
        <h3 class="text-center">Employee Information</h1>
        <br>
        <br>
        <table border=2>  
            <thead>  
                <td> ID </td>
                <td> Name </td>  
                <td> Department </td>  
                <td> Role </td>  
                <td> Direct Manager </td>  
            </thead>     
            {% for row in rows %}  
                <tr>  
                    <td> {{row["id"]}} </td>  
                    <td> {{row["name"]}} </td>  
                    <td> {{row["department"]}} </td>  
                    <td> {{row["role"]}} </td>
                    <td> {{row["manager"].split(' ')[0]}} </td>  
                </tr>  
            {% endfor %}  
        </table>  
        <br><br>  
        <a href="/">Go back to Home Page</a>
</div>
</div>
</div>
</div>
{% endblock %}
