body,
html {
    width: 100%;
    height: 100%;
}

body,
h1,
h2,
h3 {
    font-family: 'Quicksand', sans-serif;
}



a:hover {
    color: #007ee5;
}

.alert-info {
    width: 50%;
    margin: auto;
    color: #007ee5;
    border-color: #007ee5;
}

.btn-default {
    border-color: #007ee5;
    color: #007ee5;
}

.btn-default:hover {
    background-color: white;
}

.center {
    margin: auto;
    padding: 150px;
     background-color: white;
}

.content-section {
    padding: 50px 0;
    border-top: 1px solid black;
}


.intro-divider {
    width: 400px;
    border-top: 1px solid #007ee5;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.intro-header {
    padding-bottom: 8%;
    text-align: center;
    color: white;
    background-size: cover;
    height: 100%;
}

.intro-message {
    position: relative;
    padding-top: 10%;
    padding-bottom: 20%;
    text-align: center;
    margin-right: -66%;
}

.intro-message>h1 {
    margin: 0;
    font-size: 5em;
    color: #007ee5;
}

.intro-message>h3 {
    color: #343434;
}

.lead {
    font-size: 18px;
    font-weight: 400;
}

.topnav {
    font-size: 14px;
    width: 100%;
}

.wrapper {
    min-height: 100%;
    height: auto !important;
    min-width: 100%;
    margin: 0 auto -4em;
}

.outer {
    display: table;
    position: absolute;
    height: 70%;
    width: 100%;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

.inner {
    margin-left: auto;
    margin-right: auto;
}

a {
    cursor: pointer;
}

.bluecolor {
    color:red;
}

.btn:hover {
    color: white;
    border: none;
}

html,
body {
    max-width: 100%;
    overflow-x: hidden;
    color: black;

}

.navbar-right {
    margin-right: 5px;
}

.homelogo {
    margin-left: 20px;
    width: auto;
    font-size: 16px;
}

.homelogo:hover {
    color:red;
}

#out {
    width: 200px;
    padding: 10px 20px;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    border-radius: 30px;
    background-color: white;
    color: #007ee5;
    border: 1px solid #007ee5;
    transition-property: all;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
}

#out:hover {
    text-decoration: none;
    background-color: white;
    color: white;
}

#message {
    position: absolute;
    z-index: 999;
    width: 450px;
    top: 55%;
    left: 60%;
    color: white;
    text-align: center;
    margin: 0;
}

#in {
    width: 200px;
    padding: 10px 20px;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    border-radius: 30px;
    background-color: white;
    color: #26A69A;
    border: 1px solid #26A69A;
    transition-property: all;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
}

#in:hover {
    text-decoration: none;
    background-color: white;
    color: white;
}

.btn-default {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    transition-property: all;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    border: 1px solid #007ee5;
    box-sizing: border-box;
}

.btn-default:hover {
    text-decoration: none;
    background-color: #007ee5;
    color: black;
    border: 1px solid #007ee5;
}

#db {
    width: 200px;
    padding: 10px 20px;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    border-radius: 30px;
    background-color: white;
    color: #03A9F4;
    border: 1px solid #03A9F4;
    transition-property: all;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
}

#db:hover {
    text-decoration: none;
    background-color: #03A9F4;
    color: white;
}

#profilebtn {
    width: 200px;
    padding: 10px 20px;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    border-radius: 30px;
    background-color: white;
    color: #26A69A;
    border: 1px solid #26A69A;
    transition-property: all;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
}

#profilebtn:hover {
    text-decoration: none;
    background-color: #26A69A;
    color: white;
}

.red:hover {
    color: red
    ;
}

.green:hover {
    color: #4CAF50;
}

.blue:hover {
    color: #03A9F4;
}